.content {
  font-family: "Open Sans", sans-serif;
  color: #222;
  font-weight: 200;
}

.content time {
  color: #9b9b9b;
}

.content blockquote {
  margin: 0 1rem;
}

.content blockquote::before {
  position: absolute;
  content: "\201C";
  font-size: 6em;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5rem;
  margin-top: 0.1em;
  margin-left: -0.2em;
  z-index: -1;
  color: #ededed;
}

.content table {
  max-width: 100%;
  border-spacing: 0;
  margin-top: 1.5rem;
}

.content table thead {
  background: #f7f7f7;
}

.content table th {
  font-weight: 500;
}

.content table th,
.content table td {
  padding: 0.5em 1em;
  border: 1px double #eee;
}

.content ol,
.content ul {
  padding: 0 0 0 1.5rem;
  margin: 1.5rem 0 0 0;
}

.content ol li,
.content ul li {
  line-height: 1.5rem;
}

.content li ol,
.content li ul {
  margin: 0;
}

.content abbr[title] {
  text-decoration: underline double;
}

.content kbd {
  font-family: "Open Sans", sans-serif;
}

.content img {
  width: 100%;
}

@media (min-width: 769px) {
  .content h2,
  .content h3,
  .content h4,
  .content h5 {
    position: relative;
  }

  .content h2::before {
    display: block;
  }
}
