@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

html,
body {
  font-family: "Ubuntu", sans-serif;
  background-color: #fff;
  color: #222;
  font-weight: 200;
  height: 100%;
}

#__next {
  height: 100%;
}

a {
  color: #9b9b9b;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: "Ubuntu", sans-serif;
}

a:active,
a:hover {
  color: #000;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  color: #222;
  font-weight: 200;
}

h2,
h3,
h4,
h5 {
  font-family: "Ubuntu", sans-serif;
  line-height: 0.8em;
}

h2::before {
  position: absolute;
  margin-left: -1em;
  font-weight: 300;
  font-size: 1.5rem;
  color: #9b9b9b;
  display: none;
  content: "#";
}

p {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.5rem;
  margin: 1.5rem 0 0 0;
}

pre {
  display: block;
  background-color: rgba(27, 31, 35, 0.05);
  line-height: 1.25rem;
  padding: 1rem;
  overflow: auto;
  margin: 1.75rem 0 0 0;
}

pre code {
  background-color: transparent;
  font-size: 100%;
  padding: 0;
}

code {
  font-family: "Ubuntu Mono", monospace;
  font-size: 85%;
  padding: 0.2em 0.4em;
  margin: 0;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 50px;
}

.youtube-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  .layout-container {
    margin: 20px 0 0 0;
    padding: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100vh;
  }
  .inner-container {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .layout-container {
    padding: 20px 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .inner-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.extreme-title {
  font-family: "Ubuntu", sans-serif;
  color: #222;
  font-size: 50px;
  font-weight: 600;
  width: 350px;
}
