@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

html,
body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  color: #222;
  font-weight: 200;
  height: 100%;
}

#__next {
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

button {
  text-transform: lowercase;
}

a:active,
a:hover {
  color: grey;
  font-family: "Montserrat", sans-serif;
}

h2,
h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 2em;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2.5px;
  line-height: 1.3em;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2.5px;
  line-height: 1.3em;
}

h2::before {
  position: absolute;
  margin-left: -1em;
  font-weight: 300;
  font-size: 1.5rem;
  color: #9b9b9b;
  display: none;
  content: "#";
}

p {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5rem;
  margin: 1.5rem 0 0 0;
  font-weight: 400;
}

pre {
  display: block;
  background-color: rgba(27, 31, 35, 0.05);
  line-height: 1.25rem;
  padding: 1rem;
  overflow: auto;
  margin: 1.75rem 0 0 0;
}

pre code {
  background-color: transparent;
  font-size: 100%;
  padding: 0;
}

code {
  font-family: "Montserrat Mono", monospace;
  font-size: 85%;
  padding: 0.2em 0.4em;
  margin: 0;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 50px;
}

.youtube-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: 2.5px;
  }

  .layout-container {
    margin: 20px 0 0 0;
    padding: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;
    animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    -webkit--webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1)
      both;
    min-height: 100vh;
  }

  .inner-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

  .list-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
  }
}

@media (min-width: 768px) {
  h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 2.5px;
  }

  .layout-container {
    padding: 20px 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin-top: 70px;
    animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    -webkit--webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1)
      both;
  }

  .inner-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .list-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
  }
}

/* .extreme-title {
  font-family: "Montserrat", sans-serif;
  color: #222;
  font-size: 50px;
  font-weight: 600;
  width: 350px;
} */

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
